{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger text-center">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="row no-gutters justify-content-center">
        <div class="card text-center col-md-4 pb-4 mt-5" data-vivaldi-spatnav-clickable="1">
            <div class="card-header mb-5">
                Bienvenue sur AdraBook
            </div>
            <form action="{{ path("fos_user_security_check") }}" method="post" class="text-center px-4">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% endif %}

                <div class="form-group text-left">
                    <label for="username" class="">{{ 'security.login.username'|trans }}</label>
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required"/>
                </div>

                <div class="form-group text-left">
                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class="form-control" type="password" id="password" name="_password" required="required"/>
                </div>

                <div class="form-check mt-5">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                <br>

                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"
                       class="btn btn-info"/>
            </form>
        </div>
    </div>

{% endblock %}

